<!-- Menu content -->
<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- Navegación sin validación de base de datos -->
      <ion-item routerLink="/home">Página de Inicio</ion-item>
      <ion-item routerLink="/mis-asignaturas">Mis asignaturas</ion-item>
      <ion-item routerLink="/mis-asistencias">Mis asistencias</ion-item>
      <ion-item routerLink="/registrar-asistencia">Registrar asistencia</ion-item>
      <ion-item routerLink="/cambiar-clave">Cambiar clave</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main content -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página de Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="main-content">
  <h1>¡Bienvenido/da!</h1>
  <img src="assets/4qJ4EpOC.jpg" alt="Descripción de la imagen" >
  <!-- Aquí puedes poner el contenido principal de la página -->
</ion-content>
